<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">First Trip</h2>
                <p class="card-text">Exclusive Kedarnath and Badrinath Luxury Helicopter Tour</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.euttaranchal.com/packages/3-days-kedarnath-badrinath-do-dham-yatra-by-helicopter-91">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Second Trip</h2>
                <p class="card-text">Panch Kedar Yatra with Badrinath Dham Tour</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.euttaranchal.com/packages/panch-kedar-yatra-with-badrinath-dham-156">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Third Trip</h2>
                <p class="card-text">Kedarnath 3 Nights Travel Package from Rishikesh/Haridwar</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.euttaranchal.com/packages/kedarnath-dham-yatra-3-nights-ex-haridwar-tour-46">More Info</a></div>
        </div>
    </div>
</div>

<div class="card text-white my-5 py-4 text-center">
    <div class="center">
        <video width="320" height="240" controls style="align-content: center;">
            <source src="assets/Kedarnath-Temple-Whatsapp-Status-Video.mp4" />
        </video>
    </div>
</div>