<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="assets/Kedarnath.jpg"
        alt="..."
      />
    </div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Kedarnath</h1>
      <p>
        Kedarnath is one of the well-known pilgrimage places in India. People
        from all over India come to Kedarnath to see the beautiful temple of
        Mahadev. Kedarnath has a unique calmness that can’t be described in
        words. You can only feel that. Kedarnath is a popular tourist spot, and
        people of all ages travel to Kedarnath. Today, we have come up with some
        of the best Kedarnath statuses
      </p>
      <a class="btn btn-primary" href="#!">More details!</a>
    </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0" style="font-size: xx-large">
        Get detailed of kedarnath trip!
      </p>
    </div>
  </div>
</div>

<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">First Trip</h2>
        <p class="card-text">
          Exclusive Kedarnath and Badrinath Luxury Helicopter Tour
        </p>
      </div>
      <div class="card-footer">
        <a
          class="btn btn-primary btn-sm"
          href="https://www.euttaranchal.com/packages/3-days-kedarnath-badrinath-do-dham-yatra-by-helicopter-91"
          >More Info</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Second Trip</h2>
        <p class="card-text">Panch Kedar Yatra with Badrinath Dham Tour</p>
      </div>
      <div class="card-footer">
        <a
          class="btn btn-primary btn-sm"
          href="https://www.euttaranchal.com/packages/panch-kedar-yatra-with-badrinath-dham-156"
          >More Info</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Third Trip</h2>
        <p class="card-text">
          Kedarnath 3 Nights Travel Package from Rishikesh/Haridwar
        </p>
      </div>
      <div class="card-footer">
        <a
          class="btn btn-primary btn-sm"
          href="https://www.euttaranchal.com/packages/kedarnath-dham-yatra-3-nights-ex-haridwar-tour-46"
          >More Info</a
        >
      </div>
    </div>
  </div>
</div>

<div class="card text-white my-5 py-4 text-center">
  <div class="center">
    <video width="320" height="240" controls style="align-content: center">
      <source src="assets/Kedarnath-Temple-Whatsapp-Status-Video.mp4" />
    </video>
  </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5">
    <p class="m-0 text-center text-white" style="font-size: xx-large">
      Thank You for visit our site!
    </p>
  </div>
</footer>
